.title {
    font-size: 30px;
    color: #405275;
    font-weight: 500;
}

.subtitle {
    color: #182848;
    font-size: 18px;
    margin-bottom: 60px;
}

.plan {
    width: 230px;
    height: 300px;
    position: relative;
    margin: auto;
}

.line {
    width: 67px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
}

.button1 {
    background-color: #405275;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    width: 175px;
    position: absolute;
    bottom: 15px;
    left: 28px;
    border: none;
}

.button1:focus {
    background-color: #405275;
}

.button2 {
    background-color: #4A70B7;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    width: 175px;
    position: absolute;
    bottom: 15px;
    left: 28px;
    border: none;
}

.button2:focus {
    background-color: #4A70B7;
}

.okButton {
    background-color: #4A70B7;
    width: 124px;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
}
