.title {
    font-size: 30px;
    color: #405275;
}

.subtitle {
    color: white;
    background-color: #79869d;
    font-size: 18px;
    padding: 8px 50px;
}

.plan {
    width: 390px;
    height: 484px;
}

.line {
    width: 67px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
}

.button1 {
    background-color: #405275;
    width: 234px;
}

.button1:focus {
    background-color: #405275;
}

.button2 {
    background-color: #4A70B7;
    width: 234px;
}

.button2:focus {
    background-color: #4A70B7;
}
