.footer {
    color: rgba(255, 255, 255, 0.4);
    background-color: #182848;
    padding-top: 50px;
    padding-bottom: 10px;
}

.link {
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);
}

.email {
    color: rgba(255, 255, 255, 0.6);
    font-size: 26px;
    font-weight: 500;
}

.social-links {
    margin-top: 40px;
}

.social-link {
    margin-right: 30px;
}
