.header {
    color: white;
    height: 60px;
    width: 100%;
}

.header .logo {
    width: 80px;
    height: 30px;
}

.header .nav {
    background-color: transparent;
    line-height: 60px;
    margin-left: 20px;
}

.header .ant-menu-submenu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.65);
    display: block;
    height: 60px;
    line-height: 60px;
}
.header .submenu-active {
    color: white;
    background-color: #4A70B7;
}
.header .ant-menu-submenu-active a {
    text-decoration: none;
    color: white;
    line-height: 60px;
}

.header .submenu-active a {
    color: white;
}

.header .ant-menu-submenu-open {
    color: white !important;
}

.header .submenu-active.ant-menu-submenu-active {
    background-color: #4A70B7;
}

#products\$Menu {
    background-color: #182848;
}

.header-link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 60px;
    text-decoration: none;
}

.header-link:focus {
    text-decoration: none;
}

.header-link:hover {
    color: rgb(255, 255, 255);
}
.ant-dropdown-link{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

}
.ant-dropdown-link:hover {
    color: rgb(255, 255, 255);
}




/* @import '~antd/lib/style/themes/default.less'; */

/* .menu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }
} */

.dropDown {
  cursor: pointer;
  vertical-align: top;
  /* line-height: @layout-header-height; */

}
.dropDown> i{
    font-size: 14px !important;
    transform: none !important;
    
  }
  .dropDown> i > svg {
    position: relative;
    top: -1px;
  }


  .ant-dropdown-open{
    color: rgb(255, 255, 255);
  }
 
  .ant-menu-item:hover{
    background-color: #e6f7ff;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .ant-menu-vertical :not(:last-child).ant-menu-item, .ant-menu-vertical-left :not(:last-child).ant-menu-item, .ant-menu-vertical-right :not(:last-child).ant-menu-item, .ant-menu-inline :not(:last-child).ant-menu-item {
    margin-bottom: 0px;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
    margin-top:0px;
} 






  